@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=IBM+Plex+Mono&display=swap');

body {
  background: #171717;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'IBM Plex Mono', monospace;
  color: #FFFEE3;
  font-size: 20px;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

a {
  padding-bottom: 4px;
  border-bottom: 1px solid #27FFCB;
  color: #FFFEE3;
  text-decoration: none;
}

p {
  margin-bottom: 1em;
}

h1 {
  font-family: 'Bodoni Moda', serif;
  font-size: 48px;
  font-weight: 400;
  color: #FFFEE3;
}

h2 {
  font-family: 'Bodoni Moda', serif;
  font-size: 36px;
  font-weight: 400;
  color: #FFFEE3;
}

.Hero {
  height: 800px;
  background: url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  z-index:0;
  display: grid;
  grid-template-columns: repeat(1, auto);
  align-items: center;
  justify-items: left;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 780px;
  padding: 150px 50px;
}

.Hero h1 {
  font-family: 'Bodoni Moda', serif;
  font-size: 64px;
  font-weight: 400;
  color: #FFFEE3;
  text-align: center;
  line-height: 1.3;
}

.Cards {
  background-color: #27FFCB;
}

.about {
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  align-items: center;
  justify-items: left;
}

.about img {
  width: 100%;
}

.about-text {
  width: 100%;
}

.cs-hero {
  z-index:0;
  display: grid;
  grid-template-columns: repeat(1, auto);
  align-items: center;
  justify-items: left;
}

.cs-hero-group {
  margin: 0 auto;
  max-width: 900px;
  padding: 150px 50px;
}

.cs-hero h1 {
  font-family: 'Bodoni Moda', serif;
  font-size: 48px;
  font-weight: 400;
  color: #FFFEE3;
  text-align: center;
  line-height: 1.3;
}

.cs-content {
  max-width: 1440px;
  padding: 40px;
  margin: 0 auto;
}

.two-col {
  /*margin: 1px;*/
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  /*grid-gap: 1px;*/
}

.cs-content img {
  width:100%;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height:0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 640px) {

  .Hero h1 {
    font-size: 48px;
  }

  .cs-hero h1 {
    font-size: 28px;
  }

  .two-col {
    grid-template-columns: repeat(1, auto);
  }

  .about {
    grid-template-columns: repeat(1, auto);
  }

}